/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background: #5fbcd3;
    font-family: 'Open Sans', sans-serif;
}
a{color: #023;}
p, li{
    color: #145;
    font-weight: 600;
}
h1 {
    text-align: center;
    margin-top: 2em;
}
p.subtitle {
    color: #eee;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
}
h2{
    color: #edfdff;
    margin-top: 2em;
}
h3{
    color: #145;
}
.container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 800px;
}

.row {
    float: left;
    width: 100%;
}

.file {
    background: #eee;
    border-radius: 4px;
    margin: 0 1em 1em 0;
    border-bottom: 3px #ccc solid;
    display: inline-table;
}

.folder {
    border-radius: 4px;
}

.foldertab {
    float: left;
    width: 100%;
}

.foldername {
    float: left;
    padding: 0.5em 1em;
    background: #bbb;
    border-radius: 6px 6px 0 0;
}
.foldercontent {
    float: left;
    padding: 1em;
    background: #bbb;
    border-radius: 0 6px 6px 6px;
    border-bottom: 3px #888 solid;
}
.folder.second{
    margin-top: 0;
    float: none;
}
.folder.second .foldercontent{
    background: #999;
}
.folder.second .foldername{
    background: #999;
}
.folder.second .file{
    margin-bottom: 0;
}


.folder .file{
    margin: 0 0 1em 0;
}

.filename {
    background: #ddd;
    padding: .5em  1em .5em 1em;
    border-radius: 2px;
    display: inherit;
    box-sizing: border-box;
    width:100%;
}
.filecontent {
    width: 100%;
    float: left;
}
.filecontent pre {
    padding: 0 1em 0 1em;
}

pre.pretty {
    background: #145;
    padding: .5em 1em;
    border-radius: 4px;
    color: #eee;
}

pre.pretty code span.comment{
    color: #6ab;
}

.githubs {
    text-align: center;
    width: 100%;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}